@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --main-pink: #dbc3bf;
  --salmon-pink: rgb(250, 128, 114);
  --main-black: #000000;
  --main-brown: #422e28;
}
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
