@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.main_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("/imgs/maintenance.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.content_container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding-top: 2rem;
  align-items: center;
  text-align: center;
}

.logo_container {
  max-width: 160px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.logo {
  width: 100%;
  border-radius: 50%;
}

.header {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}

.text_box {
  padding: 0.85rem 2.5rem;
  font-size: 0.9rem;
  line-height: 1.6rem;
}

.counter {
  padding: 2rem 0.85rem;
}

.social_media_icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2em;
}

.icon_border {
  padding: 4px 8px;
  background: var(--main-pink);
  border-radius: 50px;
  transition: all 0.8s ease-in-out;
}

.icon_border:hover {
  background: var(--salmon-pink);
}

.icon_border:hover .icons {
  color: white;
}

.icons {
  font-size: 2em;
  color: var(--main-black);
  transition: color 0.3s ease-in-out;
}

.wpb_wrapper {
  flex-shrink: 0;
  padding: 30px 2rem;
}

@media screen and (max-width: 370px) {
  .content_container {
    padding: 4rem 2rem 1rem;
  }

  .logo_container {
    margin: 5rem 0;
  }
}
